/*Para el cuerpo pagina*/
body{
    background-color: grey;
}

/*Titulos y parrafos*/

h2{
    color: #ffffff; 
    font-family: texto1; 
    font-size: 30px; 
    font-weight: 800; 
    line-height: 36px; 
    margin: 0 0 24px; 
    text-align: left;
}

p{
    color: #f8f8f8; 
    font-family: texto1; 
    font-size: 14px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
}

.titulo{
    color: #f8f8f8; 
    font-family: texto1; 
    font-size: 18px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
}

#titulo1{
    margin-bottom: 40px;
    text-decoration: underline;
}

.subtitulo{
    color: #f8f8f8; 
    font-family: texto1; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
    text-decoration: underline;
}


#over{
    font-family: texto1;
    font-size: 100px;
    text-align: center;
    margin-top: 250px;
}

/*Secciones*/

nav{
    margin: auto;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: texto1;
}

#nav1{
    margin: auto;
    background-color: inherit;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: texto1;
    margin-top: 300px;
    
}

img{
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 400px;

}

.contenido{
    display: none;
    padding: 6px 12px;
    border: none;
    margin: auto;
}

section{
    display: inline;
    float: left;

}

aside{
    display: inline;
    float: right;
    text-align: left;
    
}

#izq{
    margin-right: 30px;
}

.contador{
	display: block;
	text-align: center;
	font-size: 20px;
    font-family: texto1; 
    color: white;
    margin-bottom: 10px;
}

/*Botones*/

button{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #ffffff;
    background: rgb(90, 87, 87);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(255, 198, 0) -1px -1px 0px 1px, rgb(246, 84, 174) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 10px;
    margin-top: 5px;

}

button:hover{
    box-shadow: rgb(246, 84, 174) -1px -1px 0px 1px, rgb(255, 198, 0) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transform: scale(1.01);
}

/*Contador*/



/*Campo de juego*/
canvas{
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 3px solid black;
}


@font-face{
    font-family: texto1;
    src: url(nasalization-rg.otf);
  }


